# Dependencies
**/node_modules/
**/vendor/
**/.venv/
**/venv/

# Python
**/__pycache__/
*.pyc

# Environment
**/.env

# Logs
**/*.log
logs*.txt

# Data files
**/dataset/
*.csv
*.zip
*.pkl
*.h5
*.model
*.joblib
*.parquet

# Training artifacts
**/catboost_info/
**/mlruns/

# IDE
.idea/
.vscode/
*.swp

